#add-game-button {
  float: left;
  width: 25%;
  margin-left: 20%;
  // height:280px;
}

#list-game-button {
  float: right;
  width: 30%;
  margin-left: 15%;
  // height:280px;
}

.image {
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
}
