.main {
  //border: 3px solid;
  
  //background-color: lightyellow;
  margin: auto;
  width: 50%;
  padding: 10px;
}

#right {
  position: relative;
  float: right;
  width: 5%;
  margin-right: 30%;
  margin-top: 2%;
}

// table {
//   background-color: lightyellow;
// }
