<div class="table">
<table>
    <tr>
        <th>Game Name</th>
        <th>Game Title</th>
        <th>CD cost</th>
        <th>Game Type</th>
        <th>Game Rating</th>
        <th>Creator email address</th>
    </tr>
    <tbody>
      <tr *ngFor="let gameRecord of gameDataList">
          <td>{{ gameRecord.gameName }}</td>
          <td>{{ gameRecord.gameTitle }}</td>
          <td>{{ gameRecord.cdCost }}</td>
          <td>{{ gameRecord.gameType }}</td>
          <td>{{ gameRecord.gameRating }}</td>
          <td>{{ gameRecord.creatorEmail }}</td>
      </tr>
    </tbody>
  </table>
</div>

<button id ="right" type="button" class="btn btn-primary btn-block mb-4" (click)="gotodashboardpage()">Back</button>